aplicativoCinema/__pycache__/*
.env
/apps/usuarios/__pycache__/*
/apps/usuarios/migrations/*
/apps/clientes/__pycache__/*
/apps/clientes/migrations/*
/apps/administrador/__pycache__/*
/apps/administrador/migrations/*
/apps/generos/__pycache__/*
/apps/generos/migrations/*
/apps/salas/__pycache__/*
/apps/salas/migrations/*
/apps/core/__pycache__/*
/apps/core/migrations/*
/apps/filmes/__pycache__/*
/apps/filmes/migrations/*
/apps/pedido/__pycache__/*
/apps/pedido/migrations/*
/apps/pedidos/__pycache__/*
/apps/pedidos/migrations/*
/apps/pedido/__pycache__/*
/apps/pedido/migrations/*
